button{
  padding: .5rem 2rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}
.primary{
 background-color: orange;
}
.secondary {
  background-color: transparent;
  border: 1px solid white;

  &:hover{
    background-color: orange;
    border: none;
  }
}
