/** @format */

.compare__wrapper {
  padding: 0 10rem;
  .compareBtn__wrapper {
    margin-bottom: 2rem;
    display: flex;
  }

  .first__selected-mission {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .top__wrapper {
      .text__section {
        .rows {
          .mission__details-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #fff;

            .value {
              color: #868686;

              a {
                text-decoration: none;
                color: orange;
                cursor: pointer;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
