.home__wrapper {
  width: 100%;
  padding: 0 10rem;

  .hero__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .hero__left-section {
      flex-basis: 40%;
      margin-top: 5rem;

      h1 {
        width: 70%;
        line-height: 50px;
        span {
          color: orange;
        }
      }

      p {
        line-height: 35px;
      }

      .box__wrapper {
        flex-basis: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5rem;

        button {
          margin-right: 1rem;
        }
      }
    }

    .hero__right-section {
      flex: 1;
      .space__dragon-image {
        margin-left: 10%;
        width: 50%;
      }
    }
  }
}
